body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(37, 61, 80);
    color: white;
    padding-top: 30px;
}

img{
    padding-right: 30px;
    width: 150px;
    height: 300px;
    cursor: pointer;
}

button{
    cursor: pointer;
}

th,td{
    border: 1px solid;
    padding: 7px 20px;
}

table{
    border-spacing: 10px;
}


.counter{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.counter img{
    width: 120px;
    height: 100px;
    padding: 0;
}
h1{
    font-size: 40px;
}

.counter button{
    font-size: 40px;
    padding: 5px 30px;
}

.change img{
    width: 400px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    font-size: 25px;
    color: red;
    padding-bottom: 50px;
    font-weight: bold;
}

.clickimage{
    padding-bottom: 100px;
    /* width: 400px; */
}

.clickimage img{
    width: 250px;
}

form{
    font-size: 25px;
}
input{
    font-size: 25px;
}

form button{
    font-size: 20px;
    padding: 5px 20px;
    border: none;
    background-color: rgb(145, 0, 0);
    color: white;
}

table{
    font-size: 20px;
    padding-bottom: 100px;
}

table button{
    background-color: rgb(145, 0, 0);
    color: white;
    border: none;
    padding: 5px 10px;
}

.hide{
    visibility: hidden;
}

img.set{
    width: 150px;
}
